{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<h1 class="heading">Login</h1>

{% if form.errors %}
    <p class="center">Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <section id="container">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{form|crispy}}
      <input class="submit-button" type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
  
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
    </form>
  </section>
  

  {# Assumes you setup the password_reset view in your URLconf #}
  <p class="center"><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}