{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}
{% if validlink %}
<p class="center-text-horizontally">Please enter (and confirm) your new password.</p>

<section class="container">


<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <div class="d-grid">
        <button class="btn btn-primary submit-button" type="submit">Submit</button>
    </div>
</form>
</section>
{% else %}
<h1 class="center-text-horizontally">Password reset failed</h1>
<p class="center-text-horizontally">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
</p>
{% endif %}
{% endblock %}