{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block messages %}
{% if messages %}

{% for message in messages %}
<h4 class="messages" id="messages">
    {{message}} 
    <i class="fas fa-times" id="exit"></i>
</h4>
{% endfor %}

{% endif %}
{% endblock %}


{% block content %}
<h1 class="heading">Contact</h1>
<section id="container">
    <form id="contact-form"  action="{% url 'contact' %}" method="POST">
        {%csrf_token %}
        {{form|crispy}}
        <div id="button" class="d-grid"></div>
    </form>
</section>

{% endblock %}

{% block scripts %}
<script src="{% static 'store/contact.js' %}" 
{% endblock %}