{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 class="heading">Hi there!</h1>

<div class="letter-container">
    <p>Welcome to this poster shop. Feel free to browse the products and buy something if you want, or just watch the images.</p>
    <p>You can also choose to register an account and by doing that you will recieve a newsletter and special discounts.</p>
    <p>Neema</p>
</div>
<section id="category-container">
    {% for i in categories %}
    <div class="inner-category-container">
        <img src="{{i.category_image.url}}" alt="Category image">
        <h4>{{i.category_name}}</h4>
        <a href="{% url 'categories' i.id %}">{{i.category_description}}</a>
    </div>
    {% endfor %}
</section>
{% endblock %}