{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<h1 class="heading">{{category.category_name}}</h1>
<section id="products-container">
    {% for item in products %}


    <div class="product-container">
        <a href="{% url 'ind_products' item.id %}">
            <img src="{{item.product_image.url}}" alt="A natur image">
        </a>
        <h4>{{item.product_name}}</h4>
        <p>{{item.display_price}}kr</p>

    </div>


    {% endfor %}
</section>
{% endblock %}
