* {
    padding: 0;
    margin: 0;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}


/*Little helpers*/

.heading {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.center-text-horizontally {
    text-align: center;
}

.center-elements-horizontally {
    margin: 0 auto;
}

.remove-text-decoration {
    text-decoration: none;
}


/*Forms*/

#container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.submit-button {
    margin-top: 20px;
}

@media(min-width: 768px) {

    #container {
        width: 50%;
        margin: 0 auto 30px auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}


/*Delete user or not, confirmation.html*/

.confirm-container {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(160, 160, 160, 0.3), -3px -3px 10px rgba(160, 160, 160, 0.3);
    margin-top: 50px;
}

.confirm-inner {
    display: flex;
    flex-direction: row;
}

.yes {
    margin: 5px;
    width: 60px;
}


.no {
    margin: 5px;
    width: 60px;
}

@media(min-width:768px) {
    .confirm-container {
        width: 50%;
        height: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 3px;
        box-shadow: 3px 3px 10px rgba(160, 160, 160, 0.3), -3px -3px 10px rgba(160, 160, 160, 0.3);
        margin-top: 50px;
    }

    .confirm-inner {
        display: flex;
        flex-direction: row;
    }

    .yes {
       margin: 5px;
       width: 60px;
    }

    .no {
        margin: 5px;
        width: 60px;
    }

}

/*Home page*/

.letter-container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgb(238, 238, 238);
    color: rgb(75, 75, 75);
    margin-top: 50px;
}

#category-container {
    width: 90%;
    margin: 30px auto 30px auto;
    display: flex;
    flex-direction: column;
}

.inner-category-container {
    flex: 300px;
    margin-bottom: 15px;
}


.inner-category-container img {
    width: 100%;
}

.inner-category-container a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.inner-category-container h4 {
    text-align: center;
    margin-top: 5px;
}


@media(min-width: 768px) {
    #category-container {
        width: 90%;
        margin: 30px auto 30px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 35px;
    }

    .inner-category-container {
        flex: 300px;
    }


    .inner-category-container img {
        width: 100%;
    }

    .inner-category-container a {
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

    .inner-category-container h4 {
        text-align: center;
        margin-top: 5px;
    }

}

/*Categories page*/

#products-container {
    width: 90%;
    margin: 30px auto 30px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}


.product-container img {
    width: 100%;
    height: 100%;
}


.product-container h4 {
    text-align: center;
    margin-top: 5px;
}

.product-container p {
    text-align: center
}

.product-container a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

@media(min-width: 768px) {
    #products-container {
        width: 90%;
        margin: 30px auto 30px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .product-container {
        width: 250px;
        transition-property: transform;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
    }

    .product-container:hover {
        transform: translateY(-5px)
    }


    .product-container img {
        width: 100%;
        height: 200px;
    }

    .product-container h4 {
        text-align: center;
        margin-top: 5px;
    }

    .product-container p {
        text-align: center
    }

    .product-container a {
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

}

@media(min-width: 1020px) {
    #products-container {
        width: 90%;
        margin: 30px auto 30px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .product-container {
        width: 350px;
        transition-property: transform;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
    }

    .product-container:hover {
        transform: translateY(-5px)
    }


    .product-container img {
        width: 100%;
        height: 250px;
    }

    .product-container h4 {
        text-align: center;
        margin-top: 5px;
    }

    .product-container p {
        text-align: center
    }

    .product-container a {
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

}


/*Individual product page*/


.grid-container {
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    justify-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.grid-container img {
    width: 100%;
    padding-bottom: 10px;
}

.grid-container p {
    justify-self: start;
}

.grid-container form {
    justify-self: start;
}

.button {
    width: 200px;
    padding: 7px;
}

@media(min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 40%;
        justify-content: center;
        justify-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .grid-container img {
        width: 100%;
        padding-bottom: 10px;
    }

    .grid-container p {
        justify-self: start;
    }

    .grid-container form {
        justify-self: start;
    }

    .button {
        width: 250px;
        padding: 7px;
    }
}


/*Cart*/

.table-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

thead {
    text-align: center;
}

tbody {
    text-align: center;
}

tfoot {
    text-align: center;
}


table {
    font-size: 0.8rem;
    margin-bottom: 20px;
    width: 90vw;
}

th,
td {
    padding: 10px;
}

th {
    background-color: rgb(190, 190, 190);
}

.th-radius-left {
    border-radius: 0.25rem 0 0 0.25rem;
}

.th-radius-right {
    border-radius: 0 0.25rem 0.25rem 0;
}

.th-radius-left-top {
    border-radius: 0.25rem 0 0 0;
}

.th-radius-left-bottom {
    border-radius: 0 0 0 0.25rem;
}

.th-radius-right-top {
    border-radius: 0 0.25rem 0 0;
}

.th-radius-right-bottom {
    border-radius: 0 0 0.25rem 0;
}

.checkout-button {
    width: 90vw;
    margin: 0 auto;
}

@media(min-width: 1024px) {
    .table-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    thead {
        text-align: center;
    }

    tbody {
        text-align: center;
    }

    tfoot {
        text-align: center;
    }


    table {
        font-size: 0.8rem;
        margin-bottom: 40px;
        width: 50vw;
    }

    th,
    td {
        padding: 10px;
    }

    th {
        background-color: rgb(190, 190, 190);
    }

    .checkout-button {
        width: 20vw;
        margin: 0 auto;
    }
}


/*Password reset done*/

#password-reset-done {
    text-align: center;
    margin-top: 100px;
}

/*Logged out page*/

.margin-top {
    margin-top: 30px;
}

/*Store page*/

.radio-buttons-container {
    width: 90%;
    padding-left: 7%;
}

.form-check-inline {
    display: inline-block;
    margin-right: 3px;
}

@media(min-width: 768px) {

    .radio-buttons-container {
        width: 90%;
        padding-left: 20%;
    }
}

@media(min-width: 768px) {

    .radio-buttons-container {
        width: 90%;
        padding-left: 18%;
    }
}

@media(min-width: 1280px) {

    .radio-buttons-container {
        width: 90%;
        padding-left: 7%;
    }
}

@media(min-width: 1440px) {

    .radio-buttons-container {
        width: 90%;
        padding-left: 14%;
    }
}

/*Flash messages*/

.messages {
    height: 50px;
    width: 100%;
    background-color: rgb(224, 224, 224);
    display: grid;
    grid-template-columns: repeat(12, auto);
    place-items: center center;
}

.messages i {
    grid-column-start: 11;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.messages h2 {
    grid-column-start: 6;
    grid-column-end: 8;
}

.hover-effect {
    color: red;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

@media(min-width: 1024px) {
    .messages {
        height: 50px;
        width: 100%;
        background-color: rgb(224, 224, 224);
        display: grid;
        grid-template-columns: repeat(12, auto);
        place-items: center center;
    }

    .messages i {
        grid-column-start: 12;
        transition-property: all;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
    }

    .messages h4 {
        grid-column-start: 6;
        grid-column-end: 8;

    }

    .hover-effect {
        color: red;
        transition-property: all;
        transition-duration: 200ms;
        transition-timing-function: ease-in;
    }
}

/*Styles the content that appears when cart is empty*/

.empty-cart {
    text-align: center;
}

.empty-cart h3 {
    margin-top: 50px;
}

.empty-cart button {
    margin-top: 30px;
}

.bag {
    font-size: 4.5rem;
    display: block;
    margin-top: 30px;
}

/*Footer*/

.footer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 30px;
}

.social-container i {
    display: inline-block;
    margin: 10px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

/*Cancel and Success pages*/

.cancel-success-container {
    margin-top: 40px;
}

.cancel-success-container p {
    margin-bottom: 35px;
}