{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="confirm-container">
    <h3>Delete Account</h3>
    <p>Proceed?</p>
    
    <div class="confirm-inner">
        <form action="{% url 'delete_user' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success yes">Yes</button>
        </form>
        
        <form action="{% url 'user_page' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger no">No</button>
        </form>
    </div>
    
</div>

{% endblock %}