{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

<section id="container">
    <h1 class="heading">{{username}}'s page</h1>

    <form action="{% url 'change_stuff' %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Update details</legend>
            {{form|crispy}}

            <input class="submit-button" type="submit" value="Submit">
        </fieldset>
    </form>

    <br>

    <form action="{% url 'change_password' %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Change password</legend>
            {{change_password_form|crispy}}
            <input class="submit-button" type="submit" value="Change password">
        </fieldset>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.info }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

    <br>

    <form action="{% url 'confirmation' %}" method="GET">
        <fieldset>
            <legend>Delete user profile</legend>
            <input class="delete-button" type="submit" value="Delete">
        </fieldset>

    </form>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'users/users.js' %}"></script>
{% endblock %}