{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}


{% block content %}

<section id="container">
    <h1 class="heading">{{username}}'s page</h1>

    <form action="{% url 'change_stuff' %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Update details</legend>
            {{changing_stuff_form|crispy}}

            <div class="d-grid">
                <button class="btn btn-primary submit-button" type="submit">Update</button>
              </div>
        </fieldset>
    </form>

    <br>

    <form action="{% url 'user_page' %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Change password</legend>
            {{change_password_form|crispy}}
            <div class="d-grid">
                <button class="btn btn-primary submit-button" type="submit">Change password</button>
              </div>
        </fieldset>
    </form>
    

    <br>

    <form action="{% url 'confirmation' %}" method="GET">
        <fieldset>
            <legend>Delete user profile</legend>
            <div class="d-grid">
                <button class="btn btn-danger submit-button" type="submit">Delete</button>
              </div>
        </fieldset>

    </form>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'users/users.js' %}"></script>
{% endblock %}